In [1]:
import pandas as pd

In [2]:
mydata=pd.read_csv(r"C:\Users\student711\Desktop\pulkit\500_person.csv")

In [3]:
mydata.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [9]:
index_name=pd.Series(["extremly weak","weak","normal","overweight","obesity","extreme obesity"])
gender_name=["Male","Female"]

In [10]:
index_name

0      extremly weak
1               weak
2             normal
3         overweight
4            obesity
5    extreme obesity
dtype: object

In [11]:
mydata.Gender[mydata.Gender=="Male"]=0
mydata.Gender[mydata.Gender=="Female"]=1

C:\Users\student711\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\student711\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [12]:
mydata.head()

  Gender  Height  Weight  Index
0      0     174      96      4
1      0     189      87      2
2      1     185     110      4
3      1     195     104      3
4      0     149      61      3

In [18]:
#data separation
#feature....gender,height,weight
x_ghw=mydata.drop("Index",axis=1)
#target....index
y_index=mydata["Index"]

In [15]:
x_ghw.head(1)

  Gender  Height  Weight
0      0     174      96

In [17]:
y_index.head(2)

0    4
1    2
Name: Index, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split

In [57]:
x_train,x_test,y_train,y_test=train_test_split(x_ghw,y_index,test_size=.20,random_state=10)

In [58]:
x_train.head()

    Gender  Height  Weight
305      0     188     114
107      0     159     154
350      0     184      83
334      1     157      56
142      0     180     149

In [59]:
from sklearn.naive_bayes import GaussianNB,BernoulliNB,MultinomialNB

In [60]:
#trainer
Gaussteacher=GaussianNB()
Multiteacher=MultinomialNB()
Bernoteacher=BernoulliNB()

In [61]:
#learner
gausslearner=gaussteacher.fit(x_train,y_train)
multilearner=Multiteacher.fit(x_train,y_train)
bernolearner=Bernoteacher.fit(x_train,y_train)

In [62]:
#predictor
#pg=bernolearner.predict([0,144,145])
#pg

In [63]:
#y_test....ya.....x_test
ya=y_test
ypg=gausslearner.predict(x_test)
ypm=multilearner.predict(x_test)
ypb=bernolearner.predict(x_test)

In [64]:
mycompare_table=pd.DataFrame({"ya":ya,"ber":ypb,"gauss":ypg,"multi":ypm})
mycompare_table.head(10)

     ber  gauss  multi  ya
151    5      2      2   3
424    5      2      1   1
154    5      5      5   5
190    5      4      4   5
131    5      2      2   2
310    5      5      5   5
266    5      5      5   5
495    5      5      5   5
157    5      5      5   5
282    5      4      4   5

In [65]:
mycompare_table.shape

(100, 4)

In [66]:
from sklearn.metrics import accuracy_score

In [67]:
accgauss=accuracy_score(ya,ypg)*100
accber=accuracy_score(ya,ypb)*100
accmulti=accuracy_score(ya,ypm)*100
acc=[accgauss,accber,accmulti]

In [68]:
mytable=pd.DataFrame({"acc":acc},index=["Gauss","Bernoulli","Multi"])

In [69]:
mytable

            acc
Gauss      67.0
Bernoulli  49.0
Multi      73.0