In [33]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [6]:
mydata=pd.read_csv(r"C:\Users\student711\Desktop\pulkit\DataSets-master\DataSets-master\Advertising.csv")

In [13]:
mydata.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [14]:
mydata.keys()

Index(['Unnamed: 0', 'TV', 'radio', 'newspaper', 'sales'], dtype='object')

In [15]:
mydataset=mydata.iloc[:,1:]
mydataset.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [19]:
x_trn=mydataset.drop("sales",1)
y_sales=mydataset["sales"]

In [21]:
from sklearn.model_selection import train_test_split

In [40]:
x_train,x_test,y_train,y_test=train_test_split(x_trn,y_sales,test_size=.30,random_state=101)

In [41]:
myteacher=LinearRegression()

In [42]:
mylearner=myteacher.fit(x_train,y_train)

In [43]:
from sklearn.metrics import mean_squared_error

In [44]:
#ya........x_test
ya=y_test
#yp........x_test
yp=mylearner.predict(x_test)

In [45]:
table=pd.DataFrame({"ya":ya,"yp":yp})

In [50]:
table.head()

       ya         yp
37   14.7  15.741313
109  19.8  19.610626
31   11.9  11.448889
89   16.7  17.008198
66    9.5   9.172857

In [47]:
import numpy as np

In [48]:
error=mean_squared_error(ya,yp)

In [49]:
np.sqrt(error)

1.5161519375993877