import pandas as pd

In [15]:
mydata=pd.read_csv(r"C:\Users\student711\Desktop\pulkit\500_person.csv")

In [38]:
mydata.head(1)

  Gender  Height  Weight  Index
0   Male     174      96      4

In [20]:
index_name=pd.Series(["extremly weak","weak","normal","overweight","obesity","extremly obesity"])

In [21]:
index_name

0       extremly weak
1                weak
2              normal
3          overweight
4             obesity
5    extremly obesity
dtype: object

In [22]:
male_data=mydata[mydata.Gender=="Male"]
female_data=mydata[mydata.Gender=="Female"]

In [23]:
len(male_data),len(female_data)

(245, 255)

In [39]:
male_0=len(male_data[male_data.Index==0])
male_1=len(male_data[male_data.Index==1])
male_2=len(male_data[male_data.Index==2])
male_3=len(male_data[male_data.Index==3])
male_4=len(male_data[male_data.Index==4])
male_5=len(male_data[male_data.Index==5])

In [47]:
df_male_index=pd.Series([male_0,male_1,male_2,male_3,male_4,male_5])

In [48]:
df_male_index

0      6
1     15
2     28
3     32
4     59
5    105
dtype: int64

In [49]:
female_0=len(female_data[female_data.Index==0])
female_1=len(female_data[female_data.Index==1])
female_2=len(female_data[female_data.Index==2])
female_3=len(female_data[female_data.Index==3])
female_4=len(female_data[female_data.Index==4])
female_5=len(female_data[female_data.Index==5])

In [50]:
df_female_index=pd.Series([female_0,female_1,female_2,female_3,female_4,female_5])

In [51]:
df_female_index

0     7
1     7
2    41
3    36
4    71
5    93
dtype: int64

In [52]:
dfmalefemale=pd.DataFrame({"Male":df_male_index,"Female":df_female_index})

In [46]:
dfmalefemale

   Female  Male
0       7     6
1       7    15
2      41    28
3      36    32
4      71    59

In [53]:
#female_data
female_data.head(2)

   Gender  Height  Weight  Index
2  Female     185     110      4
3  Female     195     104      3

In [54]:
female_hwi=female_data.drop('Gender',axis=1)
male_hwi=male_data.drop('Gender',axis=1)

In [59]:
male_hwi.head(2)

   Height  Weight  Index
0     174      96      4
1     189      87      2

In [60]:
female_hwi.head(2)

   Height  Weight  Index
2     185     110      4
3     195     104      3

In [65]:
#input and target separate
female_hw=female_hwi.drop("Index",axis=1)
female_index=female_hwi["Index"]

In [69]:
female_index.head(1)

2    4
Name: Index, dtype: int64

In [73]:
from sklearn.model_selection import train_test_split

In [92]:
#split data using predefined method....train_test_split
fehw_train,fehw_test,feindex_train,feindex_test=train_test_split(female_hw,female_index,test_size=.20,random_state=10)

In [93]:
fehw_train.shape

(204, 2)

In [94]:
fehw_train.head()

     Height  Weight
321     181     111
492     198      50
490     164      59
197     177     117
233     177      81

In [95]:
from sklearn.neighbors import KNeighborsClassifier

In [96]:
myteacher=KNeighborsClassifier()

In [97]:
mylearner=myteacher.fit(fehw_train,feindex_train)

In [104]:
#prediction
#fehw_test...................feindex_test
yfa=feindex_test
yfp=mylearner.predict(fehw_test)

In [105]:
p=mylearner.predict([[185,110]])
index_name[p]

4    obesity
dtype: object

In [107]:
p=mylearner.predict([[150,153]])
index_name[p]

5    extremly obesity
dtype: object

In [108]:
from sklearn.metrics import accuracy_score

In [109]:
acc=accuracy_score(yfa,yfp)

In [110]:
acc

0.92156862745098034