In [1]:
import pandas as pd

In [3]:
mydata=pd.read_excel(r"C:\Users\student711\Desktop\pulkit\Data_Preprocessing.xlsx")

In [4]:
mydata

   Country  Age  Salary Purchased
0   France   44   72000        No
1    Spain   27   48000       Yes
2  Germany   30   54000        No
3    Spain   38   61000        No
4  Germany   40    1000       Yes
5   France   35   58000       Yes
6    Spain   30   52000        No
7   France   48   79000       Yes
8  Germany   50   83000        No
9   France   37   67000       Yes

In [7]:
#x=mydata.iloc[:,1:3]
x=mydata[["Age","Salary"]]

In [8]:
x

   Age  Salary
0   44   72000
1   27   48000
2   30   54000
3   38   61000
4   40    1000
5   35   58000
6   30   52000
7   48   79000
8   50   83000
9   37   67000

In [10]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [11]:
x.mean()

Age          37.9
Salary    57500.0
dtype: float64

In [12]:
x.std()

Age           7.766738
Salary    22974.623682
dtype: float64

In [14]:
#Normalize
min_max_scalar=MinMaxScaler()
stand_scaler=StandardScaler()

In [17]:
x_nor=min_max_scalar.fit_transform(x)
x_std=stand_scaler.fit_transform(x)

In [18]:
x_nor

array([[ 0.73913043,  0.86585366],
       [ 0.        ,  0.57317073],
       [ 0.13043478,  0.64634146],
       [ 0.47826087,  0.73170732],
       [ 0.56521739,  0.        ],
       [ 0.34782609,  0.69512195],
       [ 0.13043478,  0.62195122],
       [ 0.91304348,  0.95121951],
       [ 1.        ,  1.        ],
       [ 0.43478261,  0.80487805]])

In [20]:
#x_max=x.max()
#x_min=x.min()
#x_mean=x.mean()

In [21]:
#n=44-x_mean
#d=x_max-x_min
#n/d

Age       0.265217
Salary   -0.700683
dtype: float64

In [22]:
round(x_std.mean())

0.0

In [23]:
round(x_std.std())

1.0