In [1]:
import pandas as pd

In [6]:
mydata=pd.read_excel(r"C:\Users\student711\Downloads\Data_NB.xlsx")

In [7]:
mydata

     Outlook Temperature Humidity  Windy Play Golf
0      Rainy         Hot     High  False        No
1      Rainy         Hot     High   True        No
2   Overcast         Hot     High  False       Yes
3      Sunny        Mild     High  False       Yes
4      Sunny        Cool   Normal  False       Yes
5      Sunny        Cool   Normal   True        No
6   Overcast        Cool   Normal   True       Yes
7      Rainy        Mild     High  False        No
8      Rainy        Cool   Normal  False       Yes
9      Sunny        Mild   Normal  False       Yes
10     Rainy        Mild   Normal   True       Yes
11  Overcast        Mild     High   True       Yes
12  Overcast         Hot   Normal  False       Yes
13     Sunny        Mild     High   True        No

In [13]:
#outlook_feature
ol_sunny=mydata[mydata["Outlook"]=="Sunny"]
ol_rainy=mydata[mydata["Outlook"]=="Rainy"]
ol_overcast=mydata[mydata["Outlook"]=="Overcast"]

In [14]:
ol_sunny

   Outlook Temperature Humidity  Windy Play Golf
3    Sunny        Mild     High  False       Yes
4    Sunny        Cool   Normal  False       Yes
5    Sunny        Cool   Normal   True        No
9    Sunny        Mild   Normal  False       Yes
13   Sunny        Mild     High   True        No

In [15]:
ol_rainy

   Outlook Temperature Humidity  Windy Play Golf
0    Rainy         Hot     High  False        No
1    Rainy         Hot     High   True        No
7    Rainy        Mild     High  False        No
8    Rainy        Cool   Normal  False       Yes
10   Rainy        Mild   Normal   True       Yes

In [17]:
ol_overcast

     Outlook Temperature Humidity  Windy Play Golf
2   Overcast         Hot     High  False       Yes
6   Overcast        Cool   Normal   True       Yes
11  Overcast        Mild     High   True       Yes
12  Overcast         Hot   Normal  False       Yes

In [27]:
#temp_feature
temp_cold=mydata[mydata["Temperature"]=="Cold"]
temp_hot=mydata[mydata["Temperature"]=="Hot"]
temp_mild=mydata[mydata["Temperature"]=="Mild"]

In [59]:
#humidity_feature
hum_normal=mydata[mydata["Humidity"]=="Normal"]
hum_high=mydata[mydata["Humidity"]=="High"]

In [29]:
#wind_feature
windy_false=mydata[mydata["Windy"]==False]
windy_true=mydata[mydata["Windy"]==True]

In [63]:
#outlook_feature
#total_yes_or_no_for_sunny
osunny_yes=len(ol_sunny[ol_sunny["Play Golf"]=="Yes"])
osunny_no=len(ol_sunny[ol_sunny["Play Golf"]=="No"])
orainy_yes=len(ol_rainy[ol_rainy["Play Golf"]=="Yes"])
orainy_no=len(ol_rainy[ol_rainy["Play Golf"]=="No"])
oovercast_yes=len(ol_overcast[ol_overcast["Play Golf"]=="Yes"])
oovercast_no=len(ol_overcast[ol_overcast["Play Golf"]=="No"])
#total yes and no in outlook feature
ol_yes=[osunny_yes,orainy_yes,oovercast_yes]
ol_no=[osunny_no,orainy_no,oovercast_no]

In [64]:
osunny_yes

3

In [65]:
osunny_no

2

In [66]:
ol_yes

[3, 2, 4]

In [67]:
#temperature features
tmild_yes=len(temp_mild[temp_mild["Play Golf"]=="Yes"])
tmild_no=len(temp_mild[temp_mild["Play Golf"]=="No"])
thot_yes=len(temp_hot[temp_hot["Play Golf"]=="Yes"])
thot_no=len(temp_hot[temp_hot["Play Golf"]=="No"])
tcold_yes=len(temp_cold[temp_cold["Play Golf"]=="Yes"])
tcold_no=len(temp_cold[temp_cold["Play Golf"]=="No"])
#total yes and no
temp_yes=[tmild_yes,thot_yes,tcold_yes]
temp_no=[tmild_no,thot_no,tcold_no]

In [68]:
#humidity feature
humhigh_yes=len(hum_high[hum_high["Play Golf"]=="Yes"])
humhigh_no=len(hum_high[hum_high["Play Golf"]=="No"])
humnormal_yes=len(hum_normal[hum_normal["Play Golf"]=="Yes"])
humnormal_no=len(hum_normal[hum_normal["Play Golf"]=="No"])
hum_yes=[humhigh_yes,humnormal_yes]
hum_no=[humhigh_no,humnormal_no]

In [69]:
#wind feature
windyfalse_yes=len(windy_false[windy_false["Play Golf"]=="Yes"])
windyfalse_no=len(windy_false[windy_false["Play Golf"]=="No"])
windytrue_yes=len(windy_true[windy_true["Play Golf"]=="Yes"])
windytrue_no=len(windy_true[windy_true["Play Golf"]=="No"])
#total yes and no
wind_yes=[windytrue_yes,windyfalse_yes]
wind_no=[windytrue_no,windyfalse_no]

In [74]:
#dataframe for all feature
outlook_df=pd.DataFrame({"Yes":ol_yes,"No":ol_no},index=["Sunny","Rainy","Overcast"])
temp_df=pd.DataFrame({"Yes":temp_yes,"No":temp_no},index=["Mild","Hot","Cold"])
hum_df=pd.DataFrame({"Yes":hum_yes,"No":hum_no},index=["High","Normal"])
wind_df=pd.DataFrame({"Yes":wind_yes,"No":wind_no},index=["True","False"])

In [75]:
outlook_df

          No  Yes
Sunny      2    3
Rainy      3    2
Overcast   0    4

In [77]:
wind_df

       No  Yes
True    3    3
False   2    6

In [78]:
temp_df

      No  Yes
Mild   2    4
Hot    2    2
Cold   0    0

In [79]:
hum_df

        No  Yes
High     4    3
Normal   1    6

In [82]:
outlook_df["p(yes)"]=["3/9","2/9","4/9"]
outlook_df["p(no)"]=["2/5","3/5","0/5"]

In [83]:
outlook_df

          No  Yes p(yes) p(no)
Sunny      2    3    3/9   2/5
Rainy      3    2    2/9   3/5
Overcast   0    4    4/9   0/5