In [13]:
import pandas as pd

In [14]:
mydata=pd.read_excel(r"C:\Users\student711\Desktop\pulkit\diabetes.xlsx")

In [15]:
mydata.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [16]:
mydata.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [17]:
my_data=mydata.iloc[:,1:6]

In [18]:
my_data.head()

   Glucose  BloodPressure  SkinThickness  Insulin   BMI
0      148             72             35        0  33.6
1       85             66             29        0  26.6
2      183             64              0        0  23.3
3       89             66             23       94  28.1
4      137             40             35      168  43.1

In [19]:
#my_data.isnull().head(10)

  Glucose BloodPressure SkinThickness Insulin    BMI
0   False         False         False   False  False
1   False         False         False   False  False
2   False         False         False   False  False
3   False         False         False   False  False
4   False         False         False   False  False
5   False         False         False   False  False
6   False         False         False   False  False
7   False         False         False   False  False
8   False         False         False   False  False
9   False         False         False   False  False

In [20]:
#my_data.isnull().sum()

Glucose          0
BloodPressure    0
SkinThickness    0
Insulin          0
BMI              0
dtype: int64

In [21]:
(my_data==0).sum()

Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
dtype: int64

In [22]:
import numpy as np

In [38]:
xdata=mydata.iloc[:,1:6]=mydata.iloc[:,1:6].replace(0,np.NAN)

In [39]:
mydata.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [40]:
xdata.head()

   Glucose  BloodPressure  SkinThickness  Insulin   BMI
0    148.0           72.0           35.0      NaN  33.6
1     85.0           66.0           29.0      NaN  26.6
2    183.0           64.0            NaN      NaN  23.3
3     89.0           66.0           23.0     94.0  28.1
4    137.0           40.0           35.0    168.0  43.1

In [41]:
xdata.shape

(768, 5)

In [42]:
xdata.dropna().head()

    Glucose  BloodPressure  SkinThickness  Insulin   BMI
3      89.0           66.0           23.0     94.0  28.1
4     137.0           40.0           35.0    168.0  43.1
6      78.0           50.0           32.0     88.0  31.0
8     197.0           70.0           45.0    543.0  30.5
13    189.0           60.0           23.0    846.0  30.1

In [43]:
xdata.dropna().shape

(392, 5)

In [44]:
from sklearn.preprocessing import Imputer

In [45]:
imp=Imputer()

In [49]:
imp=Imputer(missing_values='NaN',strategy='mean',axis=0)

In [50]:
xxdata=imp.fit_transform(xdata)

In [51]:
xxdata.shape

(768, 5)

In [52]:
xxdata

array([[ 148.        ,   72.        ,   35.        ,  155.54822335,   33.6       ],
       [  85.        ,   66.        ,   29.        ,  155.54822335,   26.6       ],
       [ 183.        ,   64.        ,   29.15341959,  155.54822335,   23.3       ],
       ...,
       [ 121.        ,   72.        ,   23.        ,  112.        ,   26.2       ],
       [ 126.        ,   60.        ,   29.15341959,  155.54822335,   30.1       ],
       [  93.        ,   70.        ,   31.        ,  155.54822335,   30.4       ]])